<% provide(:title, 'Home') %>
<div class="row">
  <div class="span12">
		<h1>Rio Viagem Planejada</h1>
	</div>
</div>
<div class="row">
	<div class="span8">
		Mapa
		<img src="assets/mapa600.gif">
	</div>
	<div class="span4">
		Formulário
		<%= form_tag("/", :method => "get", :class => "estacao") do %>
		  <%= select_tag(:origem_city_id, options_for_select(@origem)) %>
		  <%= select_tag(:destiny_city_id, options_for_select(@destiny)) %>
		  <%= submit_tag("Tempo", :class => "btn btn-primary") %>
		<% end %>

		<% if @nextTrains %>
			<% @nextTrains.each do |nextTrain| %>
				<ul class="times">
					<%= render 'time', nextTrain: nextTrain %>
				</ul>
			<% end %>
		<% end %>
	</div>
</div>