<p id="notice"><%= notice %></p>

<p>
  <b>Nome:</b>
  <%= @user.name %>
</p>

<p>
  <b>Login:</b>
  <%= @user.login %>
</p>

<p>
  <b>Conta:</b>
  <%= @user.account %>
</p>

<p>
  <b>Cartão:</b>
  <%= @user.card_number %>
</p>
